.App {
  text-align: center;
}

.header{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  min-height: 4rem;
  text-align: center;
  line-height: 4rem;
  background-color: lightgray;
  border: solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.main{
  display: flex;
  flex-direction: row;
}

.email-list{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-color: lightgray;
  border: solid black;
  border-radius: 1rem;
  min-width: 30%;
  max-width: 30%;
}

.email-details{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-color: lightgray;
  border: solid black;
  border-radius: 1rem;
  flex-grow: 1;
}


.compose-modal{
  background-color: dimgray;
  width: 40%;
  height: 60%;
  right: 0;
  bottom: 0;
  position: sticky;
  align-self: flex-end;
  z-index: 1;
  border: solid black;
  border-radius: 1rem;
  padding: 1rem;
}
